{% extends 'base.html'%}
{%block content%}

<br>
<div class="container">

    <div class="card mb-3">
        <div class="card-header">
            <h3>Dane klienta nr {{customer[1]}}</h3>
        </div>

        <div class="card-body">
                <table class="table table-sm table-bordered ">
                    <tr>
                        <th scope="row" style="width:10em">Imię i Nazwisko: </th>
                        <td>{{customer[2]}} {{customer[3]}}</td>

                    </tr>
                    <tr>
                        <th scope="row" style="width:10em">Data urodzenia: </th>
                        <td>{{customer[9]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">e-mail:</th>
                        <td>{{customer[4]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Adres:</th>
                        <td>{{customer[5]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Miasto</th>
                        <td>{{customer[6]}}</td>
                    </tr>
                </table>
        </div>

    </div>

    <div class="card mb-3">
        <div class="card-header">
            <h5>Lista rachunków</h5>
        </div>
        {% if accounts %}
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nr konta</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Stan konta</th>
                            <th scope="col">Data utworzenia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {%set summary = [0]%} SUMOWANIE W TEMPLATE-->
                        {% for account in accounts%}
                        <tr>
                            <td><a href="{{url_for('bankBP.bank_account_page', account_num=account[0])}}">{{account[0]}}</a></td>
                            <td>{{account[1]}}</td>
                            <td>{{account[2]}}</td>
                            <td>{{account[3].strftime('%Y-%m-%d')}}</td>
                            <!-- {%set x  = summary.append(summary.pop()+account[2])%} SUMOWANIE W TEMPLATE-->
                        </tr>
                        {%endfor%}
                        <tr class="table-light">
                            <td colspan="2" class="text-right " ><strong>SUMA:</strong></td>
                            <td colspan="2"><strong>{{sum_}}</strong></td> <!--{{summary[0]}}  SUMOWANIE W TEMPLATE-->
                        </tr>
                    </tbody>
                </table>
            </div>
        {%else%}
        <p class="ml-4 mt-2">Brak otwartych rachunków</p>
        {%endif%}
    </div>

    <div class="card mb-3">
            <div class="card-body">
                <form method="POST" class="form-inline">

                    {{form.hidden_tag()}}
                    {{form.account.label(class=" col-form-label")}}
                    {{form.account(class="form-control ml-1", autofocus=true)}}
                    {{form.submit(class="btn btn-primary ")}}
                            
                    <div class="ml-auto">
                        <a href="{{url_for('bankBP.bank_create_new_account', customer_num=customer[1])}}" class="btn btn-primary">Utwórz nowy rachunek</a>
                        <a href="{{url_for('bankBP.bank_home')}}" class="btn btn-primary">Wyjście do menu</a>
                    </div>
                
                </form>

            </div>
    </div>



</div>


{% endblock content %}